<h1>New Shelterlocation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.shelterlocation_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.shelterlocation_path(@conn, :index) %></span>
